.catalog__form .button {
  width: 280px;
  gap: 20px;
  margin-top: -5px;
  margin-left: 3px;
  margin-bottom: 37px;
}

.button__apply {
  @include global;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: $primary-lighter;
  color: $base-white;
}

.button__throw-off {
  @include global;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: $base-white;
  color: $primary-lighter;
}

.button__basket {
  @include middle;
  color: $base-white;
  padding: 0 0px 0 26px;
  background-image: url("/img/icons/stack.svg#basket-button");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: right 80px center;
  cursor: pointer;
}
