.catalog {
  background-color: $bg-light-grey;
  padding: 50px 20px 20px;
}

.catalog__title {
  @include small;
  display: block;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
  text-align: center;
  padding-bottom: 4px;
  margin: 0;
}

.catalog__title-text {
  @include large;
  font-weight: 700;
}

.catalog__wrapper {
  margin-top: 21px;
}

.catalog__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 0;
}
