.catalog {
  background-color: $bg-light-grey;
  padding: 50px 20px 28px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 20px;
  }
}

.catalog__title {
  @include small;
  display: block;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
  text-align: center;
  padding-bottom: 4px;
  margin: 0;
}

.catalog__title-text {
  @include large;
  text-align: center;
  font-weight: 700;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "A B B"
      "A C C"
      "A C C"
      "D D D";
  }
}

.catalog__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    column-gap: 30px;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    grid-area: A;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
  }
}

.catalog__form .button {
  min-width: 280px;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: span 3;
    justify-content: center;
    margin-left: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: start;
    margin: -5px 0 0 0;
  }
}
