.control-milk {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -13px;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 2px solid $base-grey;
    border-radius: 50%;
  }
}

.contol__mark {
  position: absolute;
  left: 20px;
  background-color: $primary-lighter;
  border-radius: 4px;
  top: 0;

  &--radio {
    border-radius: 50%;
  }
}

.control__input {
  position: relative;
  margin: 0;
  margin-right: 16px;
}

.control__input:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -13px;
  width: 24px;
  height: 24px;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
}

.control__input:checked + .control__mark::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: -9px;
  border-radius: 50%;
  background-color: $primary-lighter;
}

.control__input:checked + .control__mark {
  &:hover,
  &:focus {
    &::after {
      background-color: $primary-opacity;
    }
  }

  &:disabled {
    &::after {
      background-color: $primary-grey;
    }
  }
}

.control__input:disabled + .control__mark::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -13px;
  width: 24px;
  height: 24px;
  background-color: $base-white;
  border: 2px solid $primary-grey;
  border-radius: 50%;
}

.control__customMark {
  position: absolute;
  top: 0;
  left: -31px;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border-radius: 12px;
  border: none;

  &:hover,
  &:focus {
    background-color: $primary-opacity;
    border: 2px solid $primary-lighter;

    &::before {
      left: 0;
      top: 0;
    }
  }
}

.control__customMark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  background: $base-white;
  border-radius: 50%;
  border: 0;
}

.control__input:checked + .control__customMark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 2px;
  background: $base-white;
  border-radius: 50%;
  border: 0;
}

.control__input:checked + .control__customMark {
  position: absolute;
  top: 0;
  left: -31px;
  width: 42px;
  height: 24px;
  background: $primary-lighter;
  border-radius: 12px;
  border: none;
}

.control__input:disabled + .control__customMark {
  background: $primary-grey;
}

.control__input:disabled ~ .control__text {
  color: $primary-grey;
}
