.copyright {
  margin: 0 auto;
  padding: 14px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    padding: 5px 0 34px;
  }
}

.copyright__text,
.copyright__link {
  @include small;
  color: $primary-grey;
}

.copyright__link {
  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }

  svg {
    &:hover,
    &:focus {
      color: $primary-lighter;
    }
  
    &:active {
      color: $primary-darker;
    }
  }
}
