.copyright {
  margin: 0 auto;
  padding: 14px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.copyright__text,
.copyright__link {
  @include small;
  color: $primary-grey;
}
