.drinks-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 29px;
  }
}

.drinks-list__item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: $base-white;
  min-height: 420px;
  min-width: 280px;
  margin: 0;
  padding: 40px 20px 20px;
  border-radius: 3px;

  @media (min-width: $desktop-width) {
    width: 317px;
    height: 460px;
  }
}
