.filter-constructor {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    &:nth-child(3n) {
      padding-left: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3n) {
      padding-left: 0;
      margin: -14px 0 1px;
    }
  }
}

.filter-constructor__title {
  font-weight: 600;
  position: relative;
  width: 100%;
  text-align: left;
}

.filter-constructor__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 34px;
}

.filter-constructor__list--milk {
  padding-left: 37px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
  }
}

.filter-constructor__item {
  position: relative;
  margin-left: -21px;
}

.filter-constructor__list--origin {
  padding-left: 55px;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
  }
}
