.footer__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.footer__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid $base-secondary;
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
  }
}

.footer__slogan {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
