.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0 24px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    grid-area: D;
    grid-column: span 3;
    margin: 0 0 0 auto;
  }
}

.pagination__item {
  background-color: $base-white;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center
}

.pagination__link {
  color: $base-primary;
}

.pagination__current {
  color: $base-black;
}

.pagination__link--back {
  background-image: url("../../img/sprite/pagination-left.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.pagination__link--text {
  @media (max-width: $mobile-width-only) {
    color: transparent;
  }
}

.pagination__link--forward {
  background-image: url("../../img/sprite/pagination-right.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
