.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 40px 0 24px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
    padding: 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-area: D;
    grid-column: span 3;
    margin: 0 75px 0 auto;
    padding: 58px 0 100px;
  }
}

.pagination__item {
  background-color: $base-white;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $primary-grey;
  }

  &:first-child,
  &:last-child {
    padding: 15px;
  }

  &--current {
    background-color: transparent;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      background-color: transparent;
    }
  }

  @media (min-width: $tablet-width) {
    &:first-child,
    &:last-child {
      padding: 8px 20px;
      width: auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 8px 20px;

    &:first-child,
    &:last-child {
      width: 100%;
    }
  }
}

.pagination__link {
  color: $base-primary;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $base-white;
  }
}

.pagination__current {
  color: $base-black;
  cursor: not-allowed;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $base-black;
  }
}

.pagination__link--back {
  background-image: url("../img/sprite/pagination-left.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.pagination__link--text {
  @media (max-width: $mobile-width-only) {
    color: transparent;
  }
}

.pagination__link--forward {
  background-image: url("../img/sprite/pagination-right.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}
