.price-control {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 1px 1px 3px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 223px;
    padding: 0;
    margin-top: -9px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    margin-top: -6px;
    margin-bottom: 0;
  }
}

.price-control__from,
.price-control__to {
  @include global;
  font-weight: 500;
  font-family: inherit;
  width: 118px;
  height: 40px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  text-align: center;

  &:focus,
  &:focus-visible {
    border: 2px solid $primary-darker;
    outline: none;
  }

  &:disabled {
    background-color: $primary-grey;
  }

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.price-control__from {
  color: $primary-grey;

  &:focus,
  &:focus-visible {
    color: $base-black;
  }

  &:disabled {
    color: $primary-grey;
  }
}

.price-control__line {
  align-self: center;
  height: 2px;
  width: 8px;
  background-color: $base-grey;
}

.price-control__to {
  color: $base-black;

  &:focus,
  &:focus-visible {
    color: $base-black;
  }

  &:disabled {
    color: $primary-grey;
  }
}
