.promo {
  position: relative;
  height: 100%;
  z-index: 0;

  @media (min-width: $tablet-width) {
    min-height: 850px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
  }
}

.promo__list {
  @include reset;
}

.promo__card--flat-white {
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.promo__card--lavender {
  background-color: $bg-lavender-latte;

  @media (min-width: $tablet-width) {
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.promo__card--espresso {
  background-color: $bg-espresso;

  @media (min-width: $tablet-width) {
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.promo__button {
  position: absolute;
  top: 23px;
  bottom: 0;
  height: 100%;
  width: 20px;
  border: none;
  z-index: 2;
  color: $base-primary;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 299px;
    width: 13px;
    height: 13px;
    border-top: 2px solid $base-primary;
    border-right: 2px solid $base-primary;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 330px;
    }
  }
}

.swiper-pagination-horizontal .swiper-pagination-bullet {
  @media (min-width: $desktop-width) {
    width: 62px;
    height: 4px;
    border-radius: 0;
    background-color: $base-white;
    opacity: 1;

    &-active {
      background-color: $base-primary;
    }
  }
}

.promo__pagination {
  @media (min-width: 320px) and (max-width: 1439px) {
    display: none;
  }
}
