.range-slider {
  display: flex;
  justify-content: start;
  margin-bottom: 33px;
  width: 100%;
  max-width: 273px;
  margin-top: 29px;
  margin-left: 4px;
  box-sizing: border-box;
  height: 2px;
  background-color: $primary-grey;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    max-width: 216px;
  }

  @media (min-width: $desktop-width) {
    max-width: 312px;
  }

  .noUi-base {
    width: 253px;
    height: auto;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 200px;
    }
  
    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }

  .noUi-connects {
    border-radius: 50px;
    height: 4px;
    top: -1px;
  }

  .noUi-connect {
    background-color: $primary-lighter;
  }

  .noUi-handle {
    width: 24px;
    height: 24px;
    background-color: $base-white;
    border: 2px solid $primary-lighter;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -5px;
  }

  .noUi-touch-area {
    &:hover,
    &:focus {
      background-color: $bg-lavender-latte;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      margin: 2px;
    }

    &:active {
      background-color: $base-primary;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      margin: 2px;
    }
  }

  .noUi-tooltip {
    display: none;
  }
}
