.range-slider {
  height: 0;
  margin-bottom: 33px;
  border-radius: 2px;
  width: 280px;
  margin-top: 29px;
  margin-left: 4px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }

  .noUi-base {
    height: 4px;
    border-radius: 4px;
    background-color: $primary-grey;
  }

  .noUi-connects {
    border-radius: 50px;
  }

  .noUi-connect {
    height: 4px;
    background-color: $primary-lighter;
  }

  .noUi-handle {
    width: 24px;
    height: 24px;
    background-color: $base-white;
    border: 2px solid $primary-lighter;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -5px;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    display: none;
  }

  .noUi-handle {
    cursor: pointer;
  }
}
