.select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 0 15px 7px;
  width: 266px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0 0 26px 0;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    grid-area: B;
    grid-column: span 2;
    margin: 36px 1px 28px auto;
  }
}

.select__title {
  @include global;
  font-weight: 600;
  color: $base-black;
}

.select__control {
  @include global;
  font-family: inherit;
  font-weight: 600;
  color: $primary-lighter;
  width: 165px;
  margin: 0;
  padding: 4px 30px 4px 10px;
  border: none;
  border-radius: 4px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  option {
    @include global;
    font-family: inherit;
    font-weight: 600;
    color: $primary-lighter;
  }
}

.select__icon {
  position: absolute;
  right: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    right: 10px;
  }
}
