.button-previous,
.button-next {
  position: absolute;
  top: 23px;
  bottom: 0;
  height: 100%;
  width: 20px;
  border: none;
  z-index: 2;
  color: $base-primary;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 299px;
    width: 13px;
    height: 13px;
    border-top: 2px solid $base-primary;
    border-right: 2px solid $base-primary;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 330px;
    }
  }
}

.button-previous {
  left: 0;

  &::after {
    left: 7px;
    transform: rotate(226deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 38px;
    }
  }
}

.button-next {
  right: 0;

  &::after {
    right: 7px;
    transform: rotate(46deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      right: 38px;
    }
  }
}
