.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.social-list__link-icon {
  display: block;
  position: relative;
  top: 8px;
  right: 8px;
}
