//Цвета
$base-white: #FFFFFF;
$base-grey: #BDBDBD;
$base-black: #333333;
$base-primary: #7859CF;
$base-secondary: #F0EBFF;
$primary-opacity: #7859CF40;
$primary-lighter: #9070EC;
$primary-darker: #593CAC;
$primary-grey: #E2E2E2;
$bg-espresso: #E5E6E8;
$bg-lavender-latte: #EAE6FC;
$bg-flat-white: #F3EBE1;
$bg-light-grey: #F8F8F8;


// Шрифт
$main-font: "Montserrat", sans-serif;

// Размеры viewport
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
